@tailwind base;
@tailwind components;
@tailwind utilities;




/* styles/globals.css */
.leaflet-container {
  width: 100%;
  height: 100%;
}

.custom-marker {
  background: transparent;
  border: none;
}

.leaflet-popup-content {
  margin: 13px 19px;
}

.leaflet-popup-content p {
  margin: 0 0 5px;
}
